[Unit]
Description=calico node
After=kube-docker.service
Requires=kube-docker.service

[Service]
ExecStart=/usr/bin/docker run -d --net=host --privileged --name=calico-node \
  -e ETCD_ENDPOINTS={{ETCD_ENDPOINTS}} \
  -e ETCD_SCHEME={{PROTOCOL}} \
  -e ETCD_KEY_FILE={{SSL_PATH}}/server-key.pem \
  -e ETCD_CERT_FILE={{SSL_PATH}}/server.pem \
  -e ETCD_CA_CERT_FILE={{SSL_PATH}}/ca.pem \
  -e NODENAME=$(hostname) \
  -e IP=192.168.98.146 \
  -e NO_DEFAULT_POOLS= \
  -e AS= \
  -e CALICO_LIBNETWORK_ENABLED=true \
  -e IP6= \
  -e CALICO_NETWORKING_BACKEND=bird \
  -e FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT \
  -v /var/run/calico:/var/run/calico \
  -v {{SSL_PATH}}:{{SSL_PATH}} \
  -v /lib/modules:/lib/modules \
  -v /run/docker/plugins:/run/docker/plugins \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /var/log/calico:/var/log/calico \
  quay.io/calico/node

ExecStop=/usr/bin/docker rm -f calico-node

Type=simple
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target